@import url("https://fonts.googleapis.com/css2?family=Acme&family=Englebert&family=Great+Vibes&family=Rubik+Mono+One&family=Ubuntu+Condensed&display=swap");

.nb-post-txt {
  font-family: "Englebert", sans-serif;
  font-size: 22px;
}
