@import url("https://fonts.googleapis.com/css2?family=Acme&family=Great+Vibes&family=Rubik+Mono+One&family=Ubuntu+Condensed&display=swap");

.nb-header {
  font-family: "Rubik Mono One", sans-serif;
  color: #fffff0;
  font-size: 48px;
  font-weight: 700;
}
